<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Enregistrer une nouvelle catégorie</h1>
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/category">
                        <div class="form-group">
                            <label>Titre de la nouvelle catégorie</label>
                            <input type="text" class="form-control" name="title">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>