<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des recettes</h1>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="btn btn-primary"><a href="put">Modifier</a></button></td>
                        <td><button type="button" class="btn btn-danger"><a href="delete">Supprimer</a></button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="btn btn-primary"><a href="put">Modifier</a></button></td>
                        <td><button type="button" class="btn btn-danger"><a href="delete">Supprimer</a></button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="btn btn-primary"><a href="put">Modifier</a></button></td>
                        <td><button type="button" class="btn btn-danger"><a href="delete">Supprimer</a></button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="btn btn-primary"><a href="put">Modifier</a></button></td>
                        <td><button type="button" class="btn btn-danger"><a href="delete">Supprimer</a></button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="btn btn-primary"><a href="put">Modifier</a></button></td>
                        <td><button type="button" class="btn btn-danger"><a href="delete">Supprimer</a></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>