<div class="container">
    <h1>Les entrées</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>Les salades</h2>
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Les entrées chaudes</h2>
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Les entrées froides</h2>
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>